/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
	}
	b{
		font-weight: 900;
	}
	@extend .h1-style-1;

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-image: $gradient-1;
			bottom: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
	&.text-center{
		h1{
			&:before{
				@extend .trans-h-center;
			}
		}
	}
	&.text-right{
		h1{
			&:before{
				left: auto;
				right: 0;
			}
		}
	}

}
.h2-style-1{
	h2:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-image: $gradient-1;
			box-shadow: 0 0 6px 0 $color-1;
			bottom: 0;
			@media (min-width: 992px){
				
			}
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	margin-top: 15px;
	font-size: em(16);
	line-height: 135%;
	font-weight: 500;
	margin-bottom: 10px;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}

.bg-dotswave{
	background-image: url('../img/bg/bg-dotswave.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}


//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
}
.lang{
	height: 20px;
	li{
		display: inline-block;
		list-style: none;
		//margin: 0 5px;
		text-transform: uppercase;
		padding-right: 6px;
		line-height: 8px;
		padding-left: 2px;
		position: relative;
		&:not(:last-child){
			border-right: 1px solid #bbbbbb;
		}
		&.active, &:hover{
			color: $color-2;
		}
	}
}




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	&.bnr-article{

		.bnr-carousel{
			figure{
				height: 430px;
			}
			.carousel-content{
				.align-i-center{
					.btn-content{
						.btn-def{
							display: none;
						}
					}
					height: 430px;
				}
			}
		}

	}
}





.bnr-carousel{
	$slider-height: 680px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			&:before{
				//background-position: 0;
			}
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	figure{
		h1, p, img, .btn-def, .btn-opacity{
			opacity: 0;
			transition: 1s ease;
		}
		h1{
			font-size: em(56);
			font-family: $font-family-2;
			transform: matrix(1,0,0,1,0,-7);
			@media (max-width: 991px) {
				font-size: em(26);
			}
		}
		p{
			font-size: em(18);
			font-weight: 300;
		}
		p, img{
			transform: translateY(20px);	
		}
	}
	.text-content{
		@media (min-width: 992px) {
			margin-top: -80px;
		}
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img, .img-product{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    //@extend .container;
    @extend .trans-h-center;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    padding-bottom: 30px;
    justify-content: space-between;
    pointer-events: none;
    *{
    	pointer-events: auto;
    }
    .flickity-prev-next-button{
    	display: inline-block;
    	position: relative;
    	left: auto;
    	right: auto;
    	background-color: white;
    	border-radius: 0;
    	height: 100px;
    	clip-path: polygon(0 0, 0% 100%, 100% 50%);
  		.arrow{
  			fill: $color-1;
  		}
    	&.previous{
    		.arrow{
    			transform: scale(1.2) translateX(-25%);
    			transform-origin: center;
    		}
    	}
    	&.next{
    		clip-path: polygon(100% 0, 0 50%, 100% 100%);
    		.arrow{
    			transform: scale(1.2) translateX(25%) rotate(180deg);
    			transform-origin: center;
    		}
    	}

    }
    @media (max-width: 991px) {
    	//justify-content: center;
    }
	}
	.carousel-content{
		position: relative;
		.align-i-center{
			height: $slider-height;
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: 90vh;
				margin-top: 30px;
			}
		}
		@media (min-width: 992px) {

		}
		
	}
	.bg-shadow{
		pointer-events: none;
		background-color: rgba(black, 0.5);
		//background: linear-gradient(to bottom, transparent, $color-2);
		@media (max-width: 991px) {
			background-color: rgba(black, 0.6);
		}
	}


	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: auto;
		bottom: 0;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 0 !important;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: white;
			border-color: white;
			opacity: 0.5;
			margin-top:  5px;
			margin-bottom: 5px;
    	&.is-selected{
    		opacity: 1;
    	}
		}
	}
	@media (min-width: 992px) {
		
	}
	@media (max-width: 991px) {
		p{
			display: none;
		}
		figure{
			height: 100vh;
			.img{
				height: 100vh;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
		.flickity-page-dots{
			top: auto;
			height: auto;
			text-align: center;
			li{
				width: 15px;
				height: 15px;
				margin: 0 12px 0 12px;
				display: inline-block;
				border: 1px solid white;
				background-color: transparent;
				&.is-selected{
					border: none;
				}
			}
		}
		.container-arrows{
			width: 100%;
		}

	}
	@media (min-width: 992px) {
		.bnr-phone{
			display: none;
		}
	}
	@media ( max-width:370px ) {
		word-wrap: break-word;
	}

}
.bnr-footer{
	//@extend .trans-h-center;
	left: 0;
	z-index: 1;
	width: 100%;
	color: white;
	position: absolute;
	bottom: 15px;
	.icm{
		font-size: 65px;
	}
	.wrapper{
		padding: 15px 15px 30px 15px;	
	}
	@media (max-width: 991px) {
		color: black;
		position: relative;
		bottom: 0;
		padding-top: 30px;
		.icm{
			color: $color-1;
		}
	}
}







//content

//short-offers
.short-offers{
	.entry-header{
		text-align: center;
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
		.text-floating{
			font-size: 160px;
			color: black;
			right: 0px;
			top: 0;
			position: absolute;
			display: inline-block;
			font-weight: 900;
			text-transform: uppercase;
			opacity: 0.07;
		}
		@media (max-width: 991px) {
			display: none;
		}
	}
}
.short-offers-items{
	.desc-content{
		padding: 40px;
		z-index: 0;
		position: relative;
		&:before{
			background-color: white;
			box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.1);
			@extend .clafclear;
			left: -80px;
			top: 0;
			width: calc( 100% + 80px);
		}
		h2{
			font-weight: 700;
			border-left: 2px solid $color-2;
			padding-left: 20px;
		}
		p{
			margin-top: 30px;
			margin-bottom: 30px;
			min-height: 120px;
		}
		.btn-def{
			//margin-top: 15px;
		}
		@media (max-width: 991px) {
			padding: 15px;
		}
	}
	.img-content{
		z-index: 1;
		position: relative;
		@media (min-width: 992px) {
			transform: translateY(-50px);
		}
	}
	.img{
		height: 380px;
		background-size: cover;
		@media (max-width: 991px) {
			height: 300px;
		}
		@media (max-width: 480px) {
			height: 210px;
		}

	}
	.btn-content{
		z-index: 1;
		position: relative; 
	}
	figure{
		padding-top: 65px;
		.wrapper{
			display: flex;
			@media (max-width: 991px) {
				flex-direction: column;
				h2{
					border: none;
					padding-left: 0;
				}
				.desc-content{
					background-color: white;
					&:before{
						display: none;
					}
				}
				.btn-content{
					text-align: center;
				}
			}
		}
		.img-content, .desc-content{
			@media (min-width: 992px) {
				width: 50%;
			}
		}
		@media (min-width: 992px) {
			&:nth-child(odd){
				.desc-content{
					padding-left: 30px;
				}
				.btn-content{
					text-align: right;
				}
			}
			&:nth-child(even){
				.wrapper{
					flex-direction: row-reverse;
				}
				.desc-content{
					padding-right: 30px;
					&:before{
						left: 0;
					}
				}
				.btn-content{
					text-align: left;
				}
			}
		}

	}
}



//short-poptours
.short-poptours{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (min-width: 992px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.content-wrapper{
		//padding: 50px;
		.owl-carousel{
			background-color: white;
			box-shadow: 0 0 40px -4px rgba(black, 0.2);
			padding: 30px;
			border-radius: $border-radius-1;
		}
	}
	.owl-nav{
		top: 50%;
		left: -20px;
		transform: translateY(-50%);
    justify-content: space-between;
    display: flex;
    width: calc(100% + 40px);
	}
}
.short-poptours-items{
	figure{
		margin-top: 15px;
		margin-bottom: 15px;
		.wrapper{
			box-shadow: 0 0 10px -4px rgba(black, 0.2);
			border-radius: $border-radius-1;
			background-color: white;
			overflow: hidden;
		}
		.img{
			height: 180px;
			background-size: cover;
		}
		.desc-content{
			padding: 10px 15px;
		}
		.btn-content{
			padding: 10px 15px;
			.btn-def{
				border-radius: 5px;
				a{
					padding: 10px 20px;
					background-color: $color-1;
				}
			}
		}
		p{
			line-height: 150%;
			font-size: em(14);
		}
	}
}







//short-feedback

.short-feedback{
	background-image: url('../img/bg/bg-feedback.png');
	background-size: cover;
	background-repeat: repeat-x;
	background-color: $color-gray-2;
	background-position: center;
	color: white;
	padding: 30px 0;
	@media (min-width: 992px) {
		padding-top: 190px;
		margin-top: -75px;
		//padding-bottom: 130px;
	}
	text-align: center;
	p{
		font-size: em(16);
	}
	.entry-content{
		.flex{
			justify-content: center;
		}
		form{
			.input-content{
				width: 420px;
				input{
					height: 100%;
					padding-left: 45px;
				}
				position: relative;
				height: 50px;
				.fa{
					font-size: 20px;
					color: $color-gray-4;
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
				}
			}
		}
	}
}





//short-rectours
.short-rectours-items{
	figure{
		.wrapper{
			border-radius: $border-radius-1;
			overflow: hidden;
			@extend .shadow-def;
			max-height: 390px;
		}
		&:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+5), &:nth-child(6n+6){
			@extend .col-md-3;
		}
		&:nth-child(6n+3), &:nth-child(6n+4){
			@extend .col-md-6;
		}
		@media (max-width: 991px) {
			width: 100%;
		}


	}
	.img{
		height: 216px;
		background-size: cover;
	}
	.img-content{
		position: relative;
	}
	.cell-hover{
		justify-content: center;
		text-align: center;
		line-height: 150%;
	}
	.desc-content{
		min-height: 80px;
		padding: 10px 15px;
	}
	.btn-content{
		padding: 0 15px;
	}
}






.site-nav{
	background-color: $color-gray-2;
	padding: 30px 0;
	.cap-content{
		text-transform: uppercase;
		margin-top: 10px;
		h2{
			font-weight: 700;
		}
	}



}
.js-select-style{
	.select2-container{
		border: none;
	}
	.select2-container--default .select2-selection--single{
		background-color: white;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
	}
	.select2-container--default .select2-selection--single{
		height: 40px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		color: black;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		border-color: black transparent transparent transparent;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
		border-color: transparent transparent black transparent;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 40px;
	}
}
.select2-dropdown{
	border: 1px solid #ece9e9;
	z-index: 99993;
	border-radius: 0 0 10px 10px !important;
	overflow: hidden;
	box-shadow: 0 10px 10px -2px rgba(black, 0.2);
	font-weight: 600;
	.select2-results__option{
		padding: 10px 10px;
		color: $color-gray-3;
		&:hover{
			color: $color-1;
			background-color: $color-gray-1 !important;
		}
	}
}
.tourism-nav{
	margin-top: 10px;
	margin-bottom: 10px;
	.nav-content{
		background-color: $color-1;
		padding: 15px 30px;
		border-radius: $border-radius-1;
		display: flex;
		justify-content: space-between;
		select{
			width: 100%;
		}
		@media (max-width: 991px) {
			flex-direction: column;
			.scope-item{
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;
			}
			.btn-content{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	.select2-selection__rendered{
		font-weight: 600;
	}
	.scope-item{
		width: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.btn-def{
		a{
			padding: 10px;
		}
		min-width: 220px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.tourism-items{
	.short-rectours-items{
		@media (min-width: 992px) {
			figure{
				width: (100 / 3)#{"%"};	
			}
		}
	}	
}
.bar-directory{
	.bar-cap{
		background-color: $color-gray-2;
		border-radius: 15px;
		padding: 15px 30px;
		h2{
			font-weight: 700;
			font-size: em(22);
			margin: 0;
			line-height: 120%;
		}
	}
	ul{
		padding-left: 20px;
		font-family: $font-family-3;
		margin-top: 30px;
		text-align: left;
	}
	li{
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		color: $color-gray-3;
		&:before{
			@extend .clafclear;
			top: 50%;
			transform: translate(-175%, -50%);
			width: 10px;
			height: 2px;
			background-color: currentColor;
		}
		&:hover{
			color: $color-1;
		}
	}
}