$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-compass: "\e900";
$icm-facebook-logo: "\e901";
$icm-hotel: "\e902";
$icm-ic-zoom-in-24px: "\e903";
$icm-instagram: "\e904";
$icm-insurance: "\e905";
$icm-left-arrow-min: "\e906";
$icm-mail-black-envelope-symbol: "\e907";
$icm-moon: "\e908";
$icm-placeholder-filled-point: "\e909";
$icm-route: "\e90a";
$icm-skype-logo: "\e90b";
$icm-sun: "\e90c";
$icm-telegram: "\e90d";
$icm-telephone: "\e90e";
$icm-viber: "\e90f";

